//- router (for managing scenes)
router(offset="60")

//- global logger 
logger

//- realtime layer 
aktos-dcs(url="{{dcsUrl}}")

//- menu
side-menu
top-menu

//- Scenes 
scene.pusher(name="home" default public)
    .ui.container
        home

scene.pusher(name="login" public)
    .ui.container
        login

scene.pusher(name="about" public)
    .ui.container
        about

scene.pusher(name="tools" public)
    .ui.container
        tools

scene.pusher(name="stats" public)
    .ui.container
        stats
