extends ../../scada.js/templates/template.pug

block title
    title Açık Teyit

block head-append
    style.
        body {
            background: url(https://user-images.githubusercontent.com/6639874/42137638-82168cc8-7d78-11e8-9c3f-c78e61621d0e.png)
        }
        
