anchor bilgi
h3.ui.header.top.attached.block: a(href="#bilgi") Yönerge/yardım
.ui.message.bottom.attached
    anchor yeni-tutanak
    .ui.accordion(as-accordion) 
        .title: icon.dropdown Yeni tutanak yüklerken
        .content
            ol
                li Tutanak fotoğraflarını yeni oluşturduğunuz tweet'e yükleyin.
                li Tutanak fotoğrafından okuduğunuz bilgileri buradaki ilgili alanlara doldurun.
                li Tweet metnini oluşturun.
                li Metni kopyalayıp yorum olarak ilgili Tweet'e yapıştırın

    anchor mevcut-tutanak
    .ui.accordion(as-accordion) 
        .title: icon.dropdown Mevcut tutanağın dökümünü yaparken
        .content
            ol
                li.
                    #[a(href="https://twitter.com/hashtag/TR24Haziran2018?src=hash" newtab) #TR24Haziran2018] 
                    hashtag'i ile tutanakları listeleyin.
                li Tutanağın fotoğrafını açın
                li Fotoğraftan okuduğunuz bilgileri buradaki ilgili alanlara doldurun.
                li Tweet metnini oluşturun.
                li Metni kopyalayıp yorum olarak ilgili Tweet'e yapıştırın
                
    .ui.accordion(as-accordion) 
        .title: icon.dropdown Yazılımla ilgili problem yaşanırsa
        .content.
            #[a(href="https://github.com/ceremcem/vote-is-well/issues" newtab) Github] 
            üzerinden hata ve talepleri iletiniz. (Türkçe yazabilirsiniz.)
