+partial('renderMarkup').
    {{#if typeof . === 'string'}}
        {{> { template: . } }}
    {{else}}
        {{{ . }}}
    {{/if}}
    
+partial('timeline-item')
    .container(class="{{#if @index%2 === 0}}left{{else}}right{{/if}}") 
        .content
            h2 {{.date}} 
            p
                +apply('renderMarkup .content')

h1.ui.header.top.attached.block.big İletişim
.ui.segment.bottom.attached 
    .ui.grid.equal.width.stackable
        .column 
            .ui.p
                | Her türlü istek, sorun ve öneri için (Türkçe de yazabilirsiniz): 
                br 
                br 
                a(href="https://github.com/ceremcem/vote-is-well/issues")
                    .ui.big.label.green: icon.github Github 

        .column 
            .ui.p
                | Duyuruları takip etmek için: 
                br 
                br 
                a(href="https://twitter.com/acikteyit")
                    .ui.big.label.blue: icon.twitter @acikteyit 
            
h1.ui.header.top.attached.block.big Açıklamalar
.ui.segment.bottom.attached
    .ui.accordion(as-accordion)
        anchor design
        .title: icon.dropdown Tasarım kriterleri 
        .content
            .ui.p Sistemin tasarımında dikkate alınan hedefler şunlardır: 
            
            ol
                li.
                    Açık kaynaklı olmalı, herhangi bir şüpheye mahal vermemelidir. 
                    (bkz. #[a(href="https://github.com/ceremcem/vote-is-well"): icon.github Kaynak Kodlar])
                li Veritabanı, tüm katılımcılarla anlık olarak paylaşılmalıdır.
                li Sistem erişilebilir olmalı, mümkün olduğunca fazla çeşit cihazla ulaşılabilmelidir.
                li.
                    Sağlam olmalıdır: Seçim gecesi milyonlarca kişi neredeyse aynı anda sisteme giriş yapmak 
                    istediğinde sistem çökmemelidir.
                li Sistemin bir hata takip mekanizması olmalıdır (bkz. #[a(href="https://github.com/ceremcem/vote-is-well/issues"): icon.github Github])

        anchor howto
        .title: icon.dropdown Çalışma Şekli
        .content 
            ul
                li Dağınık ve açık veritabanı olarak Twitter'ın kendisi kullanılmaktadır.
                li Tutanaklar belli bir hashtag ile Twitter'a yüklenecektir.
                li Tutanak dökümleri kişiler tarafından yorum olarak tweet'lerin altına yazılacaktır. 
                li Yüklenmiş tutanaklar işbu servis aracılığıyla otomatik olarak işlenecektir. 
                    
            .ui.p Ayrıntılar için (bkz. #[a(href="https://github.com/ceremcem/vote-is-well/blob/master/doc/Algorithm-tr.md") Algoritma])

        anchor history
        .title: icon.dropdown Projenin Hikayesi 
        .content(style="background-color: teal; border-radius: 10px")
            .timeline 
                +each('_.reverse(history)')
                    +apply('timeline-item')

        anchor development
        .title: icon.dropdown Kim tarafından geliştiriliyor?
        .content 
            .ui.p (bkz. #[a(href="https://github.com/ceremcem/vote-is-well/graphs/contributors"): icon.github geliştiriciler])

        anchor todo
        .title: icon.dropdown Yol Haritası 
        .content 
            .ui.list
                .item.
                    Twitter servisi yeni bir tutanak yüklenir yüklenmez "Görüldü, uygundur" 
                    şeklinde bir mesaj bıraksın.
                .item.strike-out.
                    İşlenmesi gereken tweetler işbu sayfa aracılığıyla listelensin. 
                .item.strike-out.
                    Twitter'a tutanak yükleme hızının grafiği bu sayfada gösterilsin.

.spacer
