.ui.message.big(style="padding: 4em")
    a(href="https://twitter.com/acikteyit" newtab)
        img.ui.centered.medium.image(src="https://user-images.githubusercontent.com/6639874/42140145-497092a8-7da3-11e8-8028-8ec89adc6034.png")
        
    h2.ui.horizontal.divider.header(style="margin: 2em") Nedir

    p.
        24 Haziran 2018'deki seçimlerde partilerin ve sivil oluşumların tutanakları 
        toplayacak yazılımları çalıştıramadıkları, doğrudan YSK'nın sonuçlarını 
        kabul ettikleri ve kamuoyuna herhangi bir teknik açıklama yapmadıkları
        anlaşılmıştır.
            
    p.
        Bu aşamada sandık sonuçlarının teyit problemini çözmek amacıyla işbu 
        yazılımın hazırlanması gerekmiştir. 
        
    ul
        li Dağınık ve açık veritabanı olarak Twitter'ın kendisi kullanılmaktadır.
        li Tutanaklar belli bir hashtag ile Twitter'a yüklenecek, 
        li tutanak dökümleri yorum olarak tweet'lerin altına yorum yapılacak ve 
        li.
            işbu servis aracılığıyla otomatik olarak işlenecektir. 
            (bkz. #[a(href="https://github.com/ceremcem/vote-is-well/blob/dev/doc/Algorithm-tr.md") Algoritma])
        
    p
        btn.large.icon.purple(href="#/tools#tweet-olustur"): icon.play Başlayın
        
