.ui.message.big(style="padding: 2em")
    img.ui.centered.small.image(src="https://user-images.githubusercontent.com/6639874/42140145-497092a8-7da3-11e8-8028-8ec89adc6034.png")
        
    h2.ui.horizontal.divider.header(style="margin: 1em") Nedir

    p.
        24 Haziran 2018'deki seçimlerde partilerin (CHP, HDP, İyi Parti, Saadet Partisi) 
        ve diğer oluşumların (@AdilSecimNet, @OyveOtesi) tutanakları 
        toplayacak yazılımları doğru şekilde tasarlamadıkları, seçim günü çalıştıramadıkları, 
        doğrudan YSK'nın sonuçlarını kabul ettikleri, yaptıkları yüzeysel 
        açıklamalarda durumu geçiştirdikleri ve kamuoyuna hiçbir 
        teknik açıklama yapmaya yanaşmadıkları anlaşılmış, seçimden önce ve sonra 
        yapılan girişimlerde herhangi bir izahat vermeye yanaşmadıkları görülmüştür.
            
    p.
        Bu aşamada sandık sonuçlarının teyit problemini çözmek amacıyla 
        #[a(href="#/about#howto") doğru şekilde tasarlanmış] (açık kaynaklı, 
        sağlam, erişilebilir) işbu yazılımın devreye alınması gerekmiştir. 
        
    p.
        Buna göre tüm tutanaklar müşahitler tarafından bu sisteme #[i tekrar] yüklenecek ve 
        #[a(newtab href="https://twitter.com/acikteyit"): icon.twitter @acikteyit]
        tarafından işlenecektir. 
                
    p
        btn.large.icon.purple(href="#/tools#tweet-olustur"): icon.play Başlayın
        
