.ui.message.big(style="padding: 2em")
    img.ui.centered.small.image(src="images/data-arrived.png")
        
    h2.ui.horizontal.divider.header(style="margin: 1em") Nedir
            
    .ui.p.
        Seçimlerde sandık müşahitleri tarafından toplanan sandık sonuç tutanakları ile 
        resmi kaynakların açıklamalarını karşılaştırıp teyit etmek için  
        #[a(href="#/about#design") doğru şekilde tasarlanarak] kurulmuş sistemdir. 
        
    .ui.p.
        Toplanan tutanaklar müşahitler tarafından Twitter'a yüklenecek ve 
        #[a(href="https://twitter.com/acikteyit"): icon.twitter @acikteyit]
        tarafından işlenecektir. (bkz. #[a(href="#/about#howto") çalışma şekli])
                
    .ui.p
        btn.large.icon.purple(href="#/tools#tweet-olustur"): icon.play Başlayın
        
