.ui.message.big(style="padding: 2em")
    img.ui.centered.small.image(src="https://user-images.githubusercontent.com/6639874/42140145-497092a8-7da3-11e8-8028-8ec89adc6034.png")
        
    h2.ui.horizontal.divider.header(style="margin: 1em") Nedir
            
    p.
        Seçimlerde sandık müşahitleri tarafından toplanan sandık sonuç tutanakları ile 
        resmi kaynakların açıklamalarını karşılaştırıp teyit etmek için  
        #[a(href="#/about#design") doğru şekilde tasarlanarak] kurulmuş sistemdir. 
        
    p.
        Toplanan tutanaklar müşahitler tarafından Twitter'a yüklenecek ve 
        #[a(href="https://twitter.com/acikteyit"): icon.twitter @acikteyit]
        tarafından işlenecektir. (bkz. #[a(href="#/about#howto") çalışma şekli])
                
    p
        btn.large.icon.purple(href="#/tools#tweet-olustur"): icon.play Başlayın
        
